.container {
    background: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--white);
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.card > h2 {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.5rem;
}

.card > p {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--complementary);
}

@media (max-width: 1080px) {
  .chartsAndData {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .roomDetails {
    width: 700px;
  }
  .chart {
    width: 900px;
  }
}

@media (max-width: 3000px) {
  .chartsAndData {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .roomDetails {
    width: 800px;
  }
  .chart {
    width: 1000px;
  }
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--gray-line);
  margin: 10px 0 10px 0;
}

.roomData {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
}

.roomDataItem {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  color: var(--complementary);
}

.activeText {
  font-size: 18px;
  border: 0;
  font-family: "Montserrat";
  font-weight: bold;
}

.card button {
  background-color: transparent;
}

.editButton {
  border: 0px;
}

.editButton img {
  height: 2rem;
}