.newRoomContainer {
  width: 60%;
  height: 100%;
  padding: 20px;
  background-color: var(--background);
  border-radius: 10px;
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newRoomContainer h3 {
  font-family: "Montserrat";
  font-weight: 400;
  color: var(--text);
  font-size: 2rem;
}

.close {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.formColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.formColumn form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.formColumn input {
  width: 100%;
  padding: 1rem;
  margin: 0.3rem;
  border: 0px;
  border-radius: 5px;
  outline: none;
  background-color: var(--gray-line);
}

.formColumn input[placeholder] {
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  outline: none;
}

.formColumn button {
  background-color: var(--complementary);
  width: 100%;
  padding: 1rem;
  margin: 0.3rem;
  border: 0px;
  border-radius: 5px;
  font-family: "Montserrat";
  font-weight: 600;
  color: var(--white);
  outline: none;
}

.formColumn button:hover {
  background-color: var(--complementaryLight);
}

.formError {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: small;
  color: red;
}

.fullContainer {
  display: flex;
  height: 80%;
  width: 60%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.returnButton {
  margin-top: 10px;
  background-color: transparent;
  border: 0;
  color: var(--complementary);
  font-family: 'Montserrat';
  font-weight: bold;
}
.loading {
  margin-top: 20px;
  height: 125px;
  width: 105px;
}
