.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary);
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr;
  grid-area: "a" "b" "c";
  overflow-y: scroll;
}

.header {
  grid-area: "a";
  text-align: center;
  font-family: "Poiret One";
  font-weight: 400;
  font-size: larger;
  color: var(--white);
  margin-top: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mainName {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.line {
  background-color: var(--complementary);
  margin-top: 10px;
  height: 1px;
  width: 100%;
  position: relative;
  text-align: center;
}

.headButton {
  border: 0;
  background-color: transparent;
  font-family: "Poiret One";
  font-weight: 200;
  color: var(--white);
  font-size: small;
}

.headButton img {
  height: 2rem;
}

.content {
  grid-area: "b";
  display: flex;
  align-items: center;
  justify-content: center;
}

.roomList {
  align-self: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 60%;
}

.footer {
  grid-area: "c";
  text-align: center;
  font-family: "Montserrat";
  font-weight: 600;
  color: var(--white);
}

.footer button {
  background-color: var(--complementary);
  width: 25%;
  padding: 1rem;
  border: 0px;
  border-radius: 5px;
  font-family: "Montserrat";
  font-weight: 600;
  color: var(--white);
  outline: none;
  margin-bottom: 50px;
}

.footer button:hover {
  background-color: var(--complementaryLight);
}

.fullContainer {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 0;
}
